<router-outlet></router-outlet>

<abp-modal [(visible)]="isUserQuickViewVisible">
  <ng-template #abpHeader>
    <h3>{{ user.userName }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th scope="row">{{ 'AbpIdentity::DisplayName:Name' | abpLocalization }}</th>
          <td>{{ user.name }}</td>
        </tr>
        <tr>
          <th scope="row">{{ 'AbpIdentity::DisplayName:Surname' | abpLocalization }}</th>
          <td>{{ user.surname }}</td>
        </tr>
        <tr>
          <th scope="row">{{ 'AbpIdentity::EmailAddress' | abpLocalization }}</th>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <th scope="row">{{ 'AbpIdentity::PhoneNumber' | abpLocalization }}</th>
          <td>{{ user.phoneNumber }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Close' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>
